@model IEnumerable<SAT.DATA.EF.ApplicationStatu>

@{
    ViewBag.Title = "";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "main-button" })
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusDescription)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationStatusId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ApplicationStatusId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationStatusId })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });</script>
}
